<div class="container mx-auto px-6 py-16">
  <h1 class="text-xl py-4 font-bold">
    Author Title :<span class="font-semibold"> {{ author?.name }}</span>
  </h1>

  <div
    *ngIf="isLoading"
    class="absolute inset-0 flex items-center justify-center"
  >
    <svg class="animate-spin h-10 w-10 text-gray-500" viewBox="0 0 24 24">
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        fill="none"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2.942 7.943A8 8 0 004.485 20.5l1.415-2.828a5.332 5.332 0 017.778-7.066l1.482-1.482a8 8 0 10-8.218 13.82l-1.002 1.002zM20 12h-4a8.002 8.002 0 00-7.942-7.943L9.5 4.485a8 8 0 1011 11l-1.442-1.442z"
      ></path>
    </svg>
  </div>
  <div
    *ngIf="!isLoading"
    class="relative p-4 border rounded-lg bg-white bg-clip-border text-gray-700 shadow-md flex flex-col md:flex-row"
  >
    <!-- Image element -->
    <img
      *ngIf="!isLoading"
      [src]="author?.cover_img"
      alt="author image"
      class="h-full w-full max-w-72 md:object-cover rounded-xl cursor-pointer"
      (load)="onImageLoad()"
    />
    <div class="p-6 md:w-4/6" *ngIf="!isLoading">
      <h4
        *ngIf="author?.birth_date"
        class="mb-2 block font-sans text-lg font-bold leading-relaxed tracking-normal text-blue-gray-900 antialiased"
      >
        . Birth Date :
        <span class="font-semibold">{{ author?.birth_date }}</span>
      </h4>
      <h4
        class="mb-2 block font-sans text-md font-bold leading-snug tracking-normal text-blue-gray-900 antialiased cursor-pointer"
      >
        . Top Work of Author :<span class="font-semibold">
          {{ author?.top_work }}</span
        >
      </h4>
      <h4
        class="mb-10 block font-sans text-md font-bold leading-snug tracking-normal text-blue-gray-900 antialiased cursor-pointer"
      >
        . Work Count :<span class="font-semibold">
          {{ author?.work_count }}</span
        >
      </h4>

      <h4
        class="mb-4 block font-sans text-md font-bold leading-relaxed text-gray-700 antialiased cursor-pointer"
      >
        . Top Subject of Author :
        <div class="flex flex-wrap mt-4">
          <ng-container
            *ngFor="let subject of author?.top_subjects; let i = index"
          >
            <ng-container *ngIf="i < 5">
              <button
                class="flex-initial w-2/5 select-none items-center justify-center gap-2 rounded-lg py-3 px-6 text-center align-middle font-sans text-xs font-bold text-white uppercase hover:text-pink-500 bg-pink-500 transition-all hover:bg-pink-500/10 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none mb-2 mr-2"
                type="button"
              >
                {{ subject }}
              </button>
              <span class="font-semibold hover:underline"></span>
            </ng-container>
          </ng-container>
        </div>
      </h4>
    </div>
  </div>
</div>
