<div class="container mx-auto px-6 py-16">
  <h1 class="text-xl py-4 font-bold">
    Author Title :<span class="font-semibold"> {{ author?.name }}</span>
  </h1>

  <div
    *ngIf="isLoading"
    class="absolute inset-0 flex items-center justify-center"
  >
     <svg class="h-20 w-20 animate-spin stroke-gray-500" viewBox="0 0 256 256">
        <line x1="128" y1="32" x2="128" y2="64" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
        <line x1="195.9" y1="60.1" x2="173.3" y2="82.7" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="24"></line>
        <line x1="224" y1="128" x2="192" y2="128" stroke-linecap="round" stroke-linejoin="round" stroke-width="24">
        </line>
        <line x1="195.9" y1="195.9" x2="173.3" y2="173.3" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="24"></line>
        <line x1="128" y1="224" x2="128" y2="192" stroke-linecap="round" stroke-linejoin="round" stroke-width="24">
        </line>
        <line x1="60.1" y1="195.9" x2="82.7" y2="173.3" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="24"></line>
        <line x1="32" y1="128" x2="64" y2="128" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
        <line x1="60.1" y1="60.1" x2="82.7" y2="82.7" stroke-linecap="round" stroke-linejoin="round" stroke-width="24">
        </line>
    </svg>
  </div>
  <div
    *ngIf="!isLoading"
    class="relative p-4 border rounded-lg bg-white bg-clip-border text-gray-700 shadow-md flex flex-col md:flex-row"
  >
    <img
      *ngIf="!isLoading"
      [src]="author?.cover_img"
      alt="author image"
      class="h-full w-full max-w-72 md:object-cover rounded-xl "
      (load)="onImageLoad()"
    />
    <div class="p-6 md:w-4/6" *ngIf="!isLoading">
      <h4
        *ngIf="author?.birth_date"
        class="mb-2 block font-sans text-lg font-bold leading-relaxed tracking-normal text-blue-gray-900 antialiased"
      >
        . Birth Date :
        <span class="font-semibold">{{ author?.birth_date }}</span>
      </h4>
      <h4
        class="mb-2 block font-sans text-md font-bold leading-snug tracking-normal text-blue-gray-900 antialiased "
      >
        . Top Work of Author :<span class="font-semibold">
          {{ author?.top_work }}</span
        >
      </h4>
      <h4
        class="mb-10 block font-sans text-md font-bold leading-snug tracking-normal text-blue-gray-900 antialiased "
      >
        . Work Count :<span class="font-semibold">
          {{ author?.work_count }}</span
        >
      </h4>

      <h4
        class="mb-4 block font-sans text-md font-bold leading-relaxed text-gray-700 antialiased "
      >
        . Top Subject of Author :
        <div class="flex flex-wrap mt-4">
          <ng-container
            *ngFor="let subject of author?.top_subjects; let i = index"
          >
            <ng-container *ngIf="i < 5">
              <button
                class="flex-initial w-2/5 select-none items-center justify-center gap-2 rounded-lg py-3 px-6 text-center align-middle font-sans text-xs font-bold text-white uppercase hover:text-pink-500 bg-pink-500 transition-all hover:bg-pink-500/10 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none mb-2 mr-2"
                type="button"
              >
                {{ subject }}
              </button>
              <span class="font-semibold hover:underline"></span>
            </ng-container>
          </ng-container>
        </div>
      </h4>
    </div>
  </div>
</div>
