<div class="container mx-auto px-6 py-16">
  <h1 class="text-lg py-4 font-bold">Subject: Finance</h1>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6"
  >
    <ng-container *ngFor="let book of booksWithCovers; trackBy: trackByBookId">
      <div
        class="relative p-4 border rounded-lg bg-white bg-clip-border text-gray-700 shadow-md flex"
      >
        <div
          class="w-32 shrink-0 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700"
        >
          <img
            src="{{ book.cover_img }}"
            alt="book cover"
            loading="lazy"
            class="h-38 w-32 object-cover rounded-xl cursor-pointer"
            [routerLink]="['/book-details', book.id]"
          />
        </div>
        <div class="p-6 w-4/6">
          <h4
            class="mb-2 block font-sans text-lg font-bold uppercase leading-relaxed tracking-normal text-pink-500 antialiased"
          >
            Publish Year
            <span class="font-normal">: {{ book?.first_publish_year }}</span>
          </h4>
          <h6
            class="mb-2 block font-sans text-md font-bold leading-snug tracking-normal text-blue-gray-900 antialiased cursor-pointer"
            [routerLink]="['/book-details', book.id]"
          >
            Book Title <span class="font-normal"> : {{ book?.title }}</span>
          </h6>
          <p
            class="mb-4 block font-sans text-md font-semibold leading-relaxed text-gray-700 antialiased cursor-pointer"
          >
            Authors:
            <ng-container *ngFor="let author of book.authors; let last = last">
              <span  [routerLink]="['/author-details', author.key, author.name]" class="font-normal hover:underline">{{ author.name }}</span>
              <span *ngIf="!last">, </span>
            </ng-container>
          </p>
          <div class="flex justify-end">
            <a class="inline-block">
              <button
                class="flex select-none items-center gap-2 rounded-lg py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-pink-500 transition-all hover:bg-pink-500/10 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none cursor-pointer"
                type="button"
                [routerLink]="['/book-details', book.id]"
              >
                More
              </button>
            </a>
            <a class="inline-block">
              <button
                class="flex select-none items-center gap-2 rounded-lg py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-pink-500 transition-all hover:bg-pink-500/10 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button"
              >
                Wishlist
              </button>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
