<div class="container mx-auto px-6 py-16">
  <h1 class="text-xl py-4 font-bold">Book Title</h1>

  <div class="relative p-4 border rounded-lg bg-white bg-clip-border text-gray-700 shadow-md flex flex-col md:flex-row">
    <div class="h-72 md:w-1/3 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
      <img
      [src]="book?.cover_img ? book?.cover_img : '../../../assets/img/default-image.png'"
        alt="book cover"
        class="h-full w-full max-w-72 md:object-cover rounded-xl cursor-pointer"
      />
    </div>
    <div class="p-6 md:w-4/6">
      <h4 class="mb-2 block font-sans text-lg font-bold leading-relaxed tracking-normal text-blue-gray-900 antialiased">
        . First Publish Year : <span class="font-semibold">{{ book?.first_publish_year }}</span>
      </h4>
      <h4 class="mb-2 block font-sans text-md font-bold leading-snug tracking-normal text-blue-gray-900 antialiased cursor-pointer">
        . Book Title :<span class="font-semibold"> {{ book?.title }}</span>
      </h4>
      <h4 class="mb-4 block font-sans text-md font-bold leading-relaxed text-gray-700 antialiased cursor-pointer">
        . Author/s Name :
        <ng-container *ngFor="let author of book?.authors; let last = last">
          <span class="font-semibold hover:underline">{{ author.name }}</span>
          <span *ngIf="!last">, </span>
        </ng-container>
      </h4>
      <h4 class="mb-4 block font-sans text-md font-bold leading-relaxed text-gray-700 antialiased cursor-pointer">
        . Edition Count : <span class="font-semibold">{{ book?.edition_count }}</span>
      </h4>
      <!-- <h4 class="mb-4 block font-sans text-md font-bold leading-relaxed text-gray-700 antialiased cursor-pointer">
        . No. Of Pages : 
      </h4> -->
      <div class="flex justify-center w-full">
        <button class="flex w-2/5 select-none items-center justify-center gap-2 rounded-lg py-3 px-6 text-center align-middle font-sans text-xs font-bold text-white uppercase hover:text-pink-500 bg-pink-500 transition-all hover:bg-pink-500/10 active:bg-pink-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
          Add to Wishlist
        </button>
      </div>
    </div>
  </div>
</div>